.circle {
    position: absolute;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    z-index: 10;
}

.box {
    position: absolute;
    background-color: none;
    padding-top: 33px;
    width: 100px;
    height: 100px;
    text-align: center;
    z-index: 11;
}


.selfLoop{
    position: absolute;
    background-color: none;
    border-style: solid;
    border-color: white ;
    border-width: 2px;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    text-align: center;
    z-index: 0;    
}

.line{
    position: absolute;
    transform-origin: top left;
    background-color: white;
    border-radius: 10px;
    height: 2px;
    z-index: 0;
}

.arrow{
    position: absolute;
    width: 20px;
    height: 20px;
    transition: .5s;
    box-shadow: -2px 2px 0 rgba(255,255,255,1);
    transform-origin: bottom left;
    border-width: 10px;
    z-index: -1 ;
}

#statesCanvas{
    padding-right: 1000px;
    margin-right: 100px;
}

body{
	background-color: MediumSeaGreen;
}

p{
	font-family:Arial;
}

h1{
	color:gray; 
	font-size: 1.5em; 
	font-family:Arial; 
	text-align:left;
	margin-left: 20px;
}

select {
    width: 50%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f5f5f5;
}

#firstScreen{
    margin-top: 70px;
}

#secondScreen{
    margin-top: 80px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

textarea{
    background-color: white;
    border: none;
    text-decoration: none;
    height: 200px;
    width: 90%;
    cursor: pointer;
}

input[type=button]{
    background-color: MediumSeaGreen;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 40px 2px;
    cursor: pointer;
	transition:1s;
    border-radius: 5px;
}


input[type=range]{
    width: 60%;
    background-color: MediumSeaGreen;
}

input[type=button]:hover{
	background-color: #4ad387;
	transition: 1s;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

#descriptionBox{
	display:none;
	background-color: white;
	margin: auto;
	margin-top: 100px; 
	border-radius: 15px;
	padding: 10px;
	text-align: center;
	height: 400px;
	width: 50%;
    overflow: scroll;
}


#botoes{
	border-radius: 15px; 
	font-family:Arial;
	background-color: #fff;
	width: 200px;
	height: 110px;
	text-align:center;
	opacity: 0.7;
	transition:1s;
}
#botoes:hover{
	opacity: 1;
	transition:1s;
}

#botoes button{
	background:MediumSeaGreen;
	border:none;
	padding: 8px 20px;
	color: white;
	margin: 0 5px;
	border-radius: 5px;
}
#botoes button{
	background:MediumSeaGreen;
	border:none;
	padding: 8px 20px;
	color: white;
	margin: 0 5px;
	cursor: pointer;
	transition: 1s;
}

#botoes button:hover{
	background-color: #4ad387;
	transition: 1s;
}

#titulo{
	border:1px solid #4ad387;
	border-radius:15px 15px 0 0;
	padding: 10px;
	background: #4ad387;
	margin-bottom: 15px;
	color: white;
	font-size: 20px;
}

#tabela, #text{
    background:Gray;
}
